.sidenav{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0; left: 0;
  background-color: rgb(228, 228, 228);
  overflow-x: hidden;
  padding-top: 30px;
}

#brand{
  color: #000;
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 1px solid #111;
}

.nav-link{
  padding: 25px 8px 10px 8px;
  text-decoration: none;
  color: #5f5f5f;
  display: block;
  border-bottom: 1px solid #111;
}

.nav a:hover{
  color: #111;
}

#main-doc{
  margin-left: 160px;
  padding: 35px 25px;
}

/* Navbar styling on smaller screens */
@media screen and (max-height: 450px) {
  .sidenav {
    overflow-x: scroll;
    height: 100px;
    width: 100%;
    padding-left: 50px;
    left: unset;
    text-align: center;
  }
  #main-doc{
    padding-top: 120px;
  }
}